//== Colors
$white-1: #ffffff;

$black-1: #000000;
$black-2: #0c0c0c;

$blue-1: #1e74d7;
$blue-2: #cdf7f6;

$green-1: #468a8d;
$green-2: #7ae7c7;

$yellow-1: #f5b20f;
$yellow-2: #F2A541;

$grey-1: #dfdfdf;
$grey-2: #484848;
$grey-3: #a7a7a7;

$red-1: #cc1417;




$global-radius: 3px;

$font-size-base:          16px;
$font-size-large:         18px;
$font-size-small:         12px;

$font-size-h1:            38px;
$font-size-h2:            30px;
$font-size-h3:            24px;
$font-size-h4:            $font-size-large;
$font-size-h5:            $font-size-base;
$font-size-h6:            $font-size-small;

$container-lrg-desktop:            1200px;
$container-desktop:            992px;
$container-tablet:             768px;
$lrg-mobile:                  650px;
$mobile-only:                 580px;
