$output-bourbon-deprecation-warnings: false !default;

@import 'bourbon';
@import 'bootstrap/bootstrap-sass-grid';

@import "common/reset";
@import "common/variables";
@import "common/mixins";
@import "common/colorclasses";
@import "common/global";
@import "common/core.svg.processor";
@import "common/core.svg";

@import "components/cnn";

.header > img {
    @include position(absolute, 80px null null 50%);
    width: 130px;
    margin-left: -65px;

    @media all and (max-width: 660px) {
        top: 60px;
        width: 100px;
        margin-left: -50px;
    }
}

#iframe {
    margin-top: -160px;

    @media all and (max-width: 660px) {
        margin-top: -80px;
    }
}
